</div>
</div>
<br class="d-sm-block d-md-none">
<br class="d-sm-block d-md-none">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom d-sm-block d-md-none">
    <div class="container-fluid">
       
            <div class="text-center col-2">
                <a href="/s/all/" class="btn-bot"><i class="fas fa-home"></i></a>
            </div>
            <div class="text-center col-2">
                <a href="#" class="btn-bot"><i class="fas fa-search"></i></a>
            </div>
            <div class="text-center col-2">
                <a href="/s/all/new" class="btn-bot"><i class="fas fa-pen"></i></a>
            </div>
            <div class="text-center col-2">
                <a href="#" class="btn-bot"><i class="fas fa-bell"></i></a>
            </div>
            <div class="text-center col-2">
                <a href="#" class="btn-bot"><i class="fas fa-bars"></i></a>
            </div>
               
    </div>
</nav>
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js" integrity="sha256-3Iu0zFU6cPS92RSC3Pe4DBwjIV/9XKyzYTqKZzly6A8=" 
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>
<script src="/tooltip.js" crossorigin="anonymous"></script>
</html>