<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="theme-color" content="white">
    <meta charset="UTF-8">
    <title>Socium</title>
    <link rel="icon" type="image/png" href="https://i.imgur.com/ZqUvMsf.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
            <a class="navbar-brand " href="/s/all"><i class="fas fa-certificate soc"></i> Socium</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <div class="dropdown">
                        <button class="btn btn-outline-drop dropdown-toggle " type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="soc fas fa-home"></i> Home
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Socium feeds</h6>
                            <a class="dropdown-item" href="#"><i class="soc fas fa-home"></i> Home</a>
                            <a class="dropdown-item" href="#"><i class="red fab fa-hotjar"></i> Popular</a>
                            <a class="dropdown-item" href="#"><i class="gr fas fa-globe"></i> All</a>
                        </div>
                    </div>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item"><a href="/" class="nav-link soc ">Log in</a></li>
                    <li class="nav-item"><a href="/register" class="nav-link soc ">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--content-->
    <div class="container">
        <br class="no-mob">
        <div class="row">