html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  background-image: linear-gradient(45deg, #2188f0, #145799);
  background-size: 400% 400%;
  animation: grad 5s linear none infinite normal; 
  color: #fff;
}

@keyframes grad{
  0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}
.error-container {
  text-align: center;
  height: 100%;
}

@media (max-width: 480px) {
  .error-container {
    position: relative;
    top: 50%;
    height: initial;
    transform: translateY(-50%);
  }
}

.error-container h1 {
  opacity: 0.9;  
  margin: 0;
  font-size: 130px;
  font-weight: 300;
}

@media (min-width: 480px) {
  .error-container h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 768px) {
  .error-container h1 {
    font-size: 220px;
  }
}

.return {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0;
}

@media (min-width: 480px) {
  .return {
    position: absolute;
    width: 100%;
    bottom: 30px;
  }
}

.return a {
  padding-bottom: 1px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  transition: border-color 0.1s ease-in;
}

.return a:hover {
  border-bottom-color: #fff;
}

#an{
    font-size: 180px;
    animation: err 30s linear none infinite normal; 
}

@keyframes err{
    
    100%{
        transform: rotate(360deg);
    }
    
}