@media screen and (max-width: 768px) {

    .col-res {
        padding-right: 0;
        padding-left: 0;
    }

    .card {
        border-radius: 0;
        margin-bottom: 8px !important;
    }

    .no-mob {
        display: none;
    }

}

body {
    background-color: #DAE0E6;
}

img {
    border-radius: 0;
}

textarea {
    resize: none;
}

input:focus {
    border-color: #1867b6 !important;
    box-shadow: 0 0 0 0.2rem rgba(22, 104, 184, 0.4) !important;
}

/*navbar*/

.nav-link {
    color: rgba(0, 0, 0, 0.8) !important;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 1) !important;
}

.text-primary {
    color: #1976D2 !important;
}

/*cards*/

.bg-grad {
    background-image: linear-gradient(to left, #1b77d3, #1560aa);
}

.card {
    margin-bottom: 13px;
}

/*buttons*/

.btn-primary,
.btn-outline-primary:hover {
    background-color: #1976D2;
    border-color: #1668B8;
}

.btn-primary:hover {
    background-color: #186bbe;
    border-color: #1560ac;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-outline-primary:focus,
.btn-outline-primary.focus {
    background-color: #1867b6 !important;
    border-color: #1868b8 !important;
    box-shadow: 0 0 0 0.2rem rgba(22, 104, 184, 0.4) !important;
}

.btn-outline-primary {
    border-color: white !important;
    background-color: transparent;
    background-image: none;
    border-color: #1976D2;
    color: #1976D2;
}

.btn-outline-drop {
    background-color: transparent;
    background-image: none;
    border-color: rgba(48, 63, 159, 0);
    color: black;
}

.btn-outline-drop:hover {
    border-color: #d3d3d3;
}

.btn-outline-drop:focus,
.btn-outline-drop.focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 85, 255, 0) !important;
}

/*default colors*/

.red {
    color: #D93A30;
}

.gr {
    color: #00B56A;
}

/*unical elements*/

#wc-ico {
    font-size: 80px;
}