:root{
    --blue: #1976D2;
    --blue-1: #186bbe;
    --blue-2: #1767b6;
    --red: #D93A30;
}
@media screen and (max-width: 768px) {

    .col-res {
        padding-right: 0;
        padding-left: 0;
    }

    .card {
        border-radius: 0;
        margin-bottom: 8px !important;
    }

    .no-mob {
        display: none;
    }

}

body {
    background-color: #DAE0E6;
}

img {
    border-radius: 0 !important;
}

textarea {
    resize: none;
}

input:focus {
    border-color: #1867b6 !important;
    box-shadow: 0 0 0 0.2rem rgba(22, 104, 184, 0.4) !important;
}

/*navbar*/

.nav-link {
    color: rgba(0, 0, 0, 0.8) !important;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 1) !important;
}

.text-primary {
    color: var(--blue) !important;
}

/*cards*/

.bg-grad {
    background-image: linear-gradient(to left, #1b77d3, #1560aa);
}

.card {
    margin-bottom: 13px;
    position: relative;
}

.card-footer{
    border-top-color: #F0F1F2;
    padding: 1rem;
} 

/*buttons*/

.btn-primary,
.btn-outline-primary:hover {
    background-color: var(--blue);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--blue-1);
}

.btn-primary:focus,
.btn-primary.focus,
.btn-outline-primary:focus,
.btn-outline-primary.focus {
    background-color: var(--blue-2) !important;
    border-color: var(--blue-1) !important;
    box-shadow: 0 0 0 0.2rem rgba(22, 104, 184, 0.4) !important;
}

.btn-outline-primary {
    border: 0;
    background-color: transparent;
    color: var(--blue);
}

.btn-outline-drop {
    background-color: transparent;
    background-image: none;
    border-color: rgba(48, 63, 159, 0);
    color: black;
}

.btn-outline-drop:hover {
    border-color: #d3d3d3;
}

.btn-outline-drop:focus,
.btn-outline-drop.focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 85, 255, 0) !important;
}

.btn-bot{
    color: black;
    opacity: 0.9;
}
.btn-bot:focus{
    opacity: 1;
}
/*default colors*/

.bg-blue{
    background-color: var(--blue);
}

.red {
    color: var(--red);
}
.bg-red{
    background-color: var(--red);
}

.gr {
    color: #00B56A;
}

/*media buttons*/

.med{
    height: 60px;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}
.ico{
    color: white;
    margin: 28%;
    font-size: 15px;
}
.fa-heart{
    color: white;
    margin: 32%;
    font-size: 18px;
}
.btn-med{
    margin: 10px  4px 0 0;
    border-radius: 100%;
    border: 3px solid #F0F1F2;
    height: 40px;
    width: 40px;
    transition: border-color 0.2s;
}
.btn-med:hover{
    background-color: var(--blue-1);
}
.btn-med:focus{
    border-color:  #99BBDB;
}
#like{
    margin-top: 3px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

#like:focus{
    border-color:  #E5939C;
}

/*unical elements*/

#wc-ico {
    font-size: 80px;
}