:root{
    --blue: #1976D2;
    --blue-1: #186bbe;
    --blue-2: #1767b6;
    --red: #D93A30;
    --red-1: #c9382e;
    --card-1: hsl(210, 7%, 93.5%);
}

@media screen and (max-width: 768px) {

    .col-res {
        padding-right: 0;
        padding-left: 0;
    }

    .card {
        border-radius: 0;
        margin-bottom: 8px !important;
    }

    .no-mob {
        display: none;
    }
    .card-header{
        border-radius: 0 !important;
    }

}

body {
    background-color: #DAE0E6;
}

img {
    border-radius: 0 !important;
}

textarea {
    resize: none;
}

input:focus {
    border-color: #1867b6 !important;
    box-shadow: 0 0 0 0.2rem rgba(22, 104, 184, 0.4) !important;
}
button:focus{
    outline:0;
}
/*navbar*/

.nav-link {
    color: rgba(0, 0, 0, 0.8) !important;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 1) !important;
}

.text-primary {
    color: var(--blue) !important;
}

/*cards*/

.bg-grad {
    background-image: linear-gradient(to left, #1b77d3, #1560aa);
    background-size: 400% 400%;
    animation: grad 5s linear none infinite normal; 
}
@keyframes grad{
    0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.card {
    margin-bottom: 13px;
    position: relative;
}

.card-footer{
    background-color: var(--card-1);
    border-top: 0;
    padding: 1rem;
} 
.card-header{
    background-color: var(--card-1);
    border-bottom: 0;
}

#form-head{
    color: white;
    background-image: linear-gradient(to left, #1b77d3, #1560aa);
    background-size: 400% 400%;
    animation: grad 5s linear none infinite normal;
}

#form-error{
    color: white;
    background-image: linear-gradient(to left, #d31b1b, #aa1515);
    background-size: 400% 400%;
    animation: grad 5s linear none infinite normal;
}

#form-succ{
    color: white;
    background-image: linear-gradient(to left, #18b420, #107e22);
    background-size: 400% 400%;
    animation: grad 5s linear none infinite normal;
}

/*buttons*/

.btn-primary,
.btn-outline-primary:hover {
    background-color: var(--blue);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--blue-1);
}

.btn-primary:focus,
.btn-primary.focus,
.btn-outline-primary:focus,
.btn-outline-primary.focus {
    background-color: var(--blue-2) !important;
    border-color: var(--blue-1) !important;
    box-shadow: 0 0 0 0.2rem rgba(22, 104, 184, 0.4) !important;
}

.btn-outline-primary {
    border: 0;
    background-color: transparent;
    color: var(--blue);
}

.btn-outline-drop {
    background-color: transparent;
    background-image: none;
    border-color: rgba(48, 63, 159, 0);
    color: black;
}

.btn-outline-drop:hover {
    border-color: #d3d3d3;
}

.btn-outline-drop:focus,
.btn-outline-drop.focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 85, 255, 0) !important;
}

.btn-bot{
    font-size: 20px;
    color: black;
    opacity: 0.9;
}
.btn-bot:focus{
    opacity: 1;
}
/*default colors*/

.bg-blue{
    background-color: var(--blue);
}

.red {
    color: var(--red);
}
.bg-red{
    background-color: var(--red);
}

.gr {
    color: #00B56A;
}

/*media buttons*/

.med{
    height: 60px;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}
.ico{
    color: white;
    margin: 28%;
    font-size: 15px;
}
.fa-heart{
    color: white;
    margin-top: 32%;
    margin-left: 31%;
    font-size: 18px;
}
.btn-med{
    margin: 10px  4px 0 0;
    border-radius: 100%;
    border: 3px solid var(--card-1);
    height: 40px;
    width: 40px;
    transition: border-color 0.2s;
}
.btn-med:hover{
    background-color: var(--blue-1);
}
.btn-med:focus{
    border-color:  #99BBDB;
}

.cl {
    color: #BEBEC0;
    display: inline;
    border: 0;
    background: transparent;
    transition: color 0.25s;
}

.cl:hover {
    color: var(--red);
}

.cl:focus{
    color: var(--red-1);
}
#like{
    margin-top: 3px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

#like:focus{
    border-color:  #E5939C;
}

/*unical elements*/

.user-name::first-letter{
    text-transform: capitalize;
}

#wc-ico {
    font-size: 80px;
}